---
layout: empty
---

<style>
  body {
    margin: 0;
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
  }

  .text-center {
    text-align: center;
  }

  .info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .info-content {
    flex-grow: 1;
  }

  .avatar {
    width: 150px;
  }

  .avatar img {
    width: 100%;
    vertical-align: middle;
  }

  .qrcode {
    width: 150px;
  }

  .qrcode img {
    width: 100%;
    vertical-align: middle;
  }

  @media (max-width: 530px) {
    .markdown-body {
      padding: 15px;
    }

    .info {
      display: block;
    }

    .avatar {
      overflow: hidden;
      display: flex;
      align-items: center;
      width: 100%;
      height: 300px;
    }

    .avatar img {
      animation: pulse 3s linear infinite alternate;;
    }
  }

  @keyframes pulse{
    0% {
      transform: scaleX(1);
    }
    50% {
      transform: scale3d(1.05,1.05,1.05);
    }
    100% {
      transform: scaleX(1);
    }
  }
</style>

<article class="markdown-body">
  <h1 class="text-center">郭钊个人简历</h1>
  <h3>联系方式</h3>
  <div class="info">
    <div class="info-content">
      <ul>
        <li>
          手机: <a href="tel:13289321057"><strong>13289321057</strong></a>
        </li>
        <li>
          Email: <a href="mailto:davidkoojohn@gmail.com" title="Send me a message"><strong>davidkoojohn@gmail.com</strong></a>
        </li>
        <li>微信号: <strong>davidkoojohn</strong></li>
        <li>
          Github: <a href="https://github.com/davidkoojohn/"><strong>@ davidkoojohn</strong></a>
        </li>
        <li>
          Gitee: <a href="https://gitee.com/johnkuo/"><strong>@ johnkuo</strong></a>
        </li>
      </ul>
    </div>
    <div class="qrcode">
      <a href="mailto:davidkoojohn@126.com">
        <img src="/assets/images/wechat_300px.png">
      </a>
    </div>
  </div>

  <hr>
  <h3>个人信息</h3>
  <div class="info">
    <div class="avatar">
      <a href="/">
        <img src="/assets/images/johnkuo.jpeg">
      </a>
    </div>
    <div class="info-content">
      <ul>
        <li>本人姓名: <strong>郭钊</strong>（John Kuo）</li>
        <li>教育背景: <strong>大学本科</strong> / 西安理工大学高科学院</li>
        <li>
          个人网站: <a href="https://davidkoojohn.github.io">https://davidkoojohn.github.io</a>
        </li>
        <li>
          个人博客: <a href="https://davidkoojohn.github.io/share/">https://davidkoojohn.github.io/share/</a>
        </li>
        <li>
          擅长领域: <strong>WEB前端 & Golang & Laravel & Ruby & Python & Node.js 开发</strong>
        </li>
      </ul>
    </div>
  </div>
  {{content}}
</article>

